html,body	{
    overflow-x: hidden; 
}

body {
	background-color: rgb(3, 1, 27);
	display: block;
}

.navbar {
    background: rgba(48, 48, 48, 0.4);
	z-index: 2;
	display: flex;
}

.card {
	background-color: rgb(3, 1, 27);
}

ul {
	padding-right: 15px;
}

.nav-link {
	float: right;
}

.brand {
	width: 60px;
	height: 60px;
}

.nav-item {
	padding: 0px 0px;
	min-width: 100px;
}

.navbar .navbar-nav > li > a:hover {
	font-weight: bold;
}
.navbar .navbar-nav > li > a:active {
	font-weight: normal;
}

.picture {
	border-radius: 60px;
	margin: auto;
}

.card-text {
	text-align: justify;
}

.navbar-brand {
	padding-top: 0px !important;
}

/* @media only screen and (min-width : 768px) {
	.my-5 {
		margin: 100px 50px 50px 50px !important;
		border: solid white;
		padding: 50px;
		border-radius: 80px;
	}
} */

@media only screen and (min-width : 900px) {
	.set-lower {
		margin: 35px !important;
		border: solid white;
		padding: 50px;
		border-radius: 80px;
	}
}

@media only screen and (min-width : 1100px) {
	.set-lower {
		margin: 75px !important;
		border: solid white;
		padding: 50px;
		border-radius: 80px;
	}
}


@media only screen and (min-width : 1300px) {
	.set-lower {
		margin: 150px !important;
		border: solid white;
		padding: 50px;
		border-radius: 80px;
	}
}

@media only screen and (min-width : 1500px) {
	.set-lower {
		margin: 200px !important;
		border: solid white;
		padding: 50px;
		border-radius: 80px;
	}
}

@media only screen and (min-width : 1700px) {
	.set-lower {
		margin: 250px 250px !important;
		border: solid white;
		padding: 50px;
		border-radius: 80px;
	}
}

@media only screen and (min-width : 2000px) {
	.set-lower {
		margin: 275px 350px !important;
		border: solid white;
		padding: 50px;
		border-radius: 80px;
	}
} 

.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; 
}


/* Animated background from Marco Guglielmelli from codepen.io/MarcoGugliemelli/pen/ExGYae */
/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {
	background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
    font-size: 45px;
    font-weight: lighter;
}

.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}


@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}



